@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Montserrat', cursive;
}

.container {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.container::before {
  content: "";
  display: block;
  -webkit-filter: blur(1px) brightness(0.15);
  -moz-filter: blur(1px) brightness(0.15);
  -ms-filter: blur(1px) brightness(0.15);
  -o-filter: blur(1px) brightness(0.15);
  filter: blur(1px) brightness(0.15);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 10;
  padding-top: 50px;
}

.title {
  margin-bottom: 10vh;
  font-size: 3em;
  color: gold;
  font-weight: 900;
  margin: 20px;
}

.text {
  font-size: 4em;
  color: white;
  font-weight: 100;
  padding: 10px;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.calendar {
  position: absolute;
  top: 40vh;
  left: 2vw;
  width: 40vw;
  background-color: #444;
  opacity: .8;
  border-radius: 3px;
  padding: 20px;
}

.calendar p {
  font-size: 1.5em;
  color: black;
  font-weight: 100;
  display: inline-block;
}

.date {
  top: 10vh;
  position: absolute;
  left: 1vw;
  text-align: left;
}

.time {
  font-size: 5em;
}

.weather {
  text-align: right;
  position: absolute;
  top: 10vh;
  right: 1vw;
}

.fc-daygrid-event {
  color: white;
}

.fc-toolbar-title {
  color: white;
}

.clickup {
  position: absolute;
  width: 45vw;
  height: 60vh;
  background-color: #444;
  margin-left: 52.5vw;
  margin-top: 25vh;
  opacity: .8;
  color: white;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
}

.clickup-dropdown {
  color: red;
  text-align: center;
}

.form-select {
  padding: 10px;
  font-size: 3em;
  background-color: #444;
  border: none;
}

.form-select:focus {
  outline: none;
}

.form-select option {
  background-color: black;
}

.progress-bar {
  color: black;
  font-weight: bold;
}

.progress {
  border: 3px solid black;
}

.assignees {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: left;
}

.assignee {
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
}

.assignee:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}

.legend {
  border-radius: 3px;
  padding: 10px;
}